@import "tailwindcss";

@import "@dukeofgaming/ab-ui/css/tokens";
@import "@dukeofgaming/ab-ui/css/themes";

@source "../node_modules/@dukeofgaming/ab-ui";

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-bg-dark);
    --color-text: var(--color-text-dark);
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  @apply antialiased;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
